html {
    font-size: 10px;
}

body{
    font-size: 2.2rem;
    min-height: 100vh;
    font-family: 'Poppins', Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}
.wrapper {
    max-width: 920px;
    margin: 0 auto;
}
.header {
    padding: 15px 0;
    border-bottom: 1px solid #008080;
}
.logo{
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.3rem;
    margin: 0;
}
.logo:hover{
    color: #daa520;
    transition: all 0.5s;    
}
.main {
    width: 100%;
    padding: 15px;
}
:focus,
:active {
    outline: none;
}
a,
ul li {
    list-style: none;
}
.accordion__content{
    margin: 0;
    padding: 1.5rem;
}
.accordion__item {
    margin-bottom: 1.5rem;
}
.accordion__button{
    padding: 15px 20px;
    color: #ffffff;
    background: #008080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.accordion__button i{
    display: none;
}
.accordion__content:hover i{
    display: block;
}
.accordion__button:hover{
    color: #cecece;
}
.accordion__input:checked + .accordion__block i {
    transform: rotate(135deg);
    transition: all 0.3s ease;
    color: #daa520;
}
.accordion__input:hover + .accordion__block i {
    opacity: 1;
    transform: rotate(135deg);
    transition: all 0.3s ease;
}
.accordion__item:hover .accordion__block i {
    opacity: 1;
}
.accordion__input + .accordion__block > img{
    max-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
.accordion__input:hover + .accordion__block > img,
.accordion__input:checked + .accordion__block > img {
    display: block;
    max-height: 25.75rem;
    margin: 5px auto;
    border-radius: 0.5rem;
    transition: all 0.8s ease;
    border: 1px solid #daa520;
}
.accordion__input:checked + .accordion__block .accordion__button > p{
    color: #daa520;
}


.footer{
    padding: 15px 0;
    border-top: 1px solid teal;
    width: 100%;
    margin-top: auto;

}
.footeer-block{
    display: flex;
    justify-content: space-between;
}
.link_text{
    cursor: pointer;
    color: #000000;
}
.link_text:hover{
    color: #daa520;
}

.rs_link{
    display: block;
    width: 100px;
    height: 30px;
    border: 1px solid #ffffff;
    background: url(../images/rs_school_js.svg) 0 0 no-repeat;
}
.github_link{
    display: inline-block;
    width: 200px;
    height: 30px;
    background: url(../images/github.svg) 0 0 no-repeat;
}
.footer__link {
    display: block;
}
.fa-brands.fa-github{
    color: #000000;
}